<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eichlerjiri.myvocab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="My Vocab"
        android:usesCleartextTraffic="true">
        <activity android:name="eichlerjiri.myvocab.MyVocab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eichlerjiri.myvocab.LessonActivity" />
        <activity android:name="eichlerjiri.myvocab.ErrorActivity" />
    </application>
</manifest>
